<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solo_project.Repository.LoginRepository">
	<resultMap type="solo_project.Entity.User" id="userMap">
		<id property="userId" column="user_id"/>
		<result property="name" column="user_name"/>
		<result property="email" column="user_email"/>
		<result property="password" column="user_password"/>
		<result property="userRole" column="user_role"/>
	</resultMap>
	<insert id="signup" parameterType="solo_project.Entity.User" >
		insert into user_tb
		values (0 , #{name},#{email},#{password},1);
	</insert>
	<select id="findByEmail" resultMap="userMap">
		select 
		user_email
		from user_tb
		where
		user_email = #{email};
	</select>
</mapper>