<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="solo_project.Repository.UserRepository">
	<resultMap type="solo_project.Entity.User" id="UserMap">
		<id property="userId" column="user_id"/>
		<result property="userName" column="user_name"/>
		<result property="userEmail" column="user_Email"/>
		<result property="userPassword" column="user_password"/>
		<result property="userRole" column="user_role"/>
	</resultMap>
	
	<insert id="addUser">
		insert into user_tb
		values (0 , "이상구", "bagume61@naver.com","ba619161",1);
	</insert>
</mapper>